<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Board</title>
    <link href=./style.css rel=stylesheet>
    <link rel="icon" type="image/x-icon" href="./message.png"> 
</head>
<body>
  <nav class="nav">
    <h1>Message_Board</h1>
    <button onclick="window.location.href='/new'" class="link">New Message</button>
  </nav>
  <div class="messages">
    <% messages.forEach((message) =>{ %>
      <div class="message">
        <div class="text"><%= message.text %></div>
        <div class="user"><%= message.user %></div>
        <div><%= message.added %></div>
      </div>
    <% }); %>
  </div>
</body>
</html>
